@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(216, 210, 210, 0.397);
}
nav {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: rgba(155, 221, 80, 0.871);
    position: fixed;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    height: 100%;
}
nav a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    text-decoration: none;
    color: rgb(216, 210, 210);
}
nav a:hover {
    background-color: rgba(238, 238, 238, 0.144);
    color: var(--greenish-color);
    transition: background-color 0.8s;
}
@media screen and (min-width: 374px) {
    nav {
        font-size: 1.4em;
    }
    nav a {
        padding: 0 14px;
    }
}
@media screen and (min-width: 424px) {
    nav {
        font-size: 1.6em;
    }
    nav a {
        padding: 0 15px;
    }
}
@media screen and (min-width: 768px) {
    nav {
        font-size: 2em;
        padding: 0 50px;
        height: 80px;
    }
    nav a {
        padding: 0 30px;
    }    
    nav span {
        font-size: 1.3em;
    }

}
@media screen and (min-width: 1023px) {
    nav span {
        font-size: 1.5em;
    }
}

/* nav bar ends here */
main {
    padding: 10px 20px 20px;
}
.top-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.top-section-header {
    font-size: 2.5em;
}
.colored-span {
    color: rgb(142, 233, 38);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.575);
}
p {
    margin-top: 15px;
    font-size: 1.4em;
}
@media screen and (min-width: 767px) {
    main {
        padding: 10px 60px 0;
    }
    .top-section-header {
        font-size: 5em;
    }
    .top-section p {
        font-size: 3em;
    }
}
/* top section ends here */
.content-section {
    padding: 80px 0;
}
.about-header, .work-header {
    font-size: 2em;
    border-bottom: 4px solid rgb(138, 211, 55);
    width: 105px;
    color: rgb(138, 211, 55);
}
.work-header {
    margin: 0 auto;
    width: 85px;
}
.about-info {
    font-size: 1.4em;
    line-height: 1.8;
}
.picture {
    margin: 30px auto 0;
    width: 200px;
}
.picture img {
    width: 100%;
    border-radius: 50%;
    transition: border-radius 0.5s;

}
@media screen and (min-width: 767px) {
    .about-header {
        font-size: 3em;
        width: 160px;
    }
    .work-header {
        font-size: 3em;
        width: 130px;
    }
    .about-info {
        font-size: 2em;
    }
}
@media screen and (min-width: 1023px) {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text {
        order: 2;
        width: 50%;
        margin-left: 50px;
    }
    .picture {
        order: 1;
        margin: 0;
        width: 25%;
    }
    .about-header {
        margin: 0 auto 60px;
    }
    .content:hover .picture img {
        border-radius: 30%;
    }
}
/* about me section ends here */
.projects-grid {
    padding-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    align-items: center;
    grid-gap: 40px;
}
.project-box {
    box-shadow: 10px 5px 5px black;
    border-style: solid;
    border-radius: 5em;
    display: grid;
    grid-template-rows: 60px 200px 60px;
    grid-template-areas:
      "title"
      "image"
      "links";
    transition: transform 0.5s ease-in-out;
}
.project-box:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
  }
.project-preview {
    grid-area: image;
    max-width: 100%;
    height: 100%;
    margin: auto;
  }
  .project-title {
    grid-area: title;
    margin: auto;
    font-size: 2em;
  }
  .buttons {
    grid-area: links;
    display: flex;
    margin: auto;
    font-size: 2em;
  }
  .options {
    text-decoration: none;
    padding: 5px;
    color: black;
    border-style: solid;
    margin: 0 20px;
    border-radius: 10px;
  }
  .options:hover {
    border-color: rgb(138, 211, 55);
    transition: 0.5s;
  }
@media screen and (min-width: 767px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fill, 400px);
    }
    .project-box {
        grid-template-rows: 80px 200px 80px;
    }
    .options {
        padding: 10px;
    }
}
/* projects section ends here */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.contact-header {
    text-align: center;
    font-size: 3em;
    margin-bottom: 15px;
}
.contact-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2em;
}
.contact-link {
    color: rgb(138, 211, 55);
    margin: 20px;
    text-decoration: none;
    transition: transform 0.5s;
}
.contact-link:hover {
    color: black;
}
.contact-link i{
    color: black;
    margin-right: 5px;
}
.contact-link:hover i {
    color: rgb(138, 211, 55)
}
.contact-link:hover {
    transform: translateY(10px);
    transition: transform 0.5s;
  }
 @media screen and (min-width: 767px) {
     .contact-header {
         font-size: 6em;
     }
     .contact-options {
         font-size: 3em;
     }
 }