@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(216, 210, 210);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: rgba(155, 221, 80, 0.871);
    position: fixed;
    padding: 0 20px;
    width: 100%;
    height: 70px;
    font-size: 0.8rem;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    height: 100%;
}
nav a {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 100%;
    text-decoration: none;
    color: rgb(216, 210, 210);
}
@media screen and (min-width: 374px) {
    nav {
        font-size: 1.4em;
    }
    nav a {
        padding: 0 14px;
    }
}
@media screen and (min-width: 424px) {
    nav {
        font-size: 1.6em;
    }
    nav a {
        padding: 0 15px;
    }
}
@media screen and (min-width: 768px) {
    nav {
        font-size: 2.6em;
        padding: 0 40px;
    }
    nav a {
        padding: 0 25px;
    }    
}
nav a:hover {
    background-color: rgba(238, 238, 238, 0.144);
    color: var(--greenish-color);
    transition: background-color 0.8s;
}
/* nav bar ends here */
.top-section {
    padding-top: 70px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-section header {
    font-size: 3em;
    text-align: center;
    padding: 0 50px;
}
.colored-span {
    color: rgb(142, 233, 38);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.575);
}
.top-section p {
    margin-top: 15px;
}
@media screen and (min-width: 320px) {
    .top-section header {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 374px) {
    .top-section header {
        font-size: 1.7em;
    }
}
@media screen and (min-width: 424px) {
    .top-section header {
        font-size: 2em;
    }
}
@media screen and (min-width: 767px) {
    .top-section header {
        font-size: 4em;
    }
}
/* top section ends here */